<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Personas Registradas</title>
</head>
<body>
<h1>Lista de Personas Registradas</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Profesión</th>
        <th>Correo</th>
    </tr>
    <tr th:each="persona : ${personas}">
        <td th:text="${persona.id}"></td>
        <td th:text="${persona.nombre}"></td>
        <td th:text="${persona.apellido}"></td>
        <td th:text="${persona.profesion}"></td>
        <td th:text="${persona.correo}"></td>
    </tr>
</table>
</body>
</html>
